<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-warning"></span>NOT FOUND</h1>
    <div class="alert alert-danger">
        Sorry, The Page You Looking For Doesn't Exist.
    </div>
    <!-- show any messages that come back with authentication -->
    
</div>